<!DOCTYPE html>
<html>
<head>
	<title>Vue-Pivot-Table</title>
	<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Vue.js -->
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="app" class="container-fluid">
	  <div class="panel panel-info">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	<h3>{{ message }}</h3>
				<p><button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button> を押すと保存します。</p>
		  </div>
		  <!-- Table -->
		  <table class="table table-bordered">
			  <thead>
			    <tr>
			    	<th></th>
			    	<th>在庫</th>
			    	<th>受注</th>
			    	<th>残数</th>
						<!--ユーザー名-->
			    	<th v-for="user in users">
			    		{{ user.name }}
			    	</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr v-for="item in items">
						<!--品名-->
			  		<th scope="row">{{ item.name }}</th>
						<!--在庫-->
			  		<th scope="row">{{ item.stock }}</th>
						<!--受注-->
			  		<th scope="row">{{ itemOrderSummary(item.name) }}</th>
						<!--残数-->
			  		<th scope="row"><stockremaincell v-bind:itemname="item.name" v-bind:items="items" v-bind:itemsum="itemOrderSummary(item.name)"></stockremaincell></th>
						<!--ユーザー毎の受注-->
						<th v-for="user in users" scope="row">
			    		<cell v-bind:username="user.name" v-bind:itemname="item.name" v-bind:userlevel="user.level" v-bind:itemprice="item.price" v-bind:order="user.orders[item.name]"></cell>
			    	</th>
			  	</tr>
			  	<tr>
			  		<th></th>
			  		<th></th>
			  		<th></th>
			  		<th></th>
						<!--ユーザーのオーダー数合計-->
			  		<th v-for="user in users">
			  			{{ userOrderSummary(user.name) }}
			  		</th>
			  	</tr>
			  </tbody>
			</table>

			<!--オーダー数変更履歴-->
			<div class="panel-body">
		    <textarea class="form-control" rows="10" v-model="console"></textarea>
		  </div>
		</div>		
	</div>

	<script src="js/vue-pivot-table.js"></script>
</body>
</html>